$breakpoint-phone-sm: 574px;
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.vertical-nav {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  height: 15vh;
  width: 100%;
  
  &.displayed {
    height: 100vh;
  }

  .media-body {
    flex: .9;
  }

  .collapse-button {
    width: 20px;
    cursor: pointer;

    .bar1, .bar2, .bar3 {
      background-color: #333;
      height: 5px;
      margin: 6px 0;
      transition: 0.4s;
      width: 35px;
    }

    &.displayed .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    &.displayed .bar2 {opacity: 0;}
    
    &.displayed .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }

    @media (min-width: $breakpoint-phone-sm) { 
      display: none;
    }
  }

  .navbar-body {
    display: none;

    &.displayed {
      display: block;
    }

    @media (min-width: $breakpoint-phone-sm) { 
      display: block;
    }
  }

  @media (min-width: $breakpoint-phone-sm) { 
    height: 100vh;
  }

  @media (min-width: $breakpoint-desktop) { 
    margin-right: 10px;
  }
}
