.vertical-nav {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  height: 15vh;
  width: 100%;
}
.vertical-nav.displayed {
  height: 100vh;
}
.vertical-nav .media-body {
  flex: 0.9;
}
.vertical-nav .collapse-button {
  width: 20px;
  cursor: pointer;
}
.vertical-nav .collapse-button .bar1,
.vertical-nav .collapse-button .bar2,
.vertical-nav .collapse-button .bar3 {
  background-color: #333;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}
.vertical-nav .collapse-button.displayed .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.vertical-nav .collapse-button.displayed .bar2 {
  opacity: 0;
}
.vertical-nav .collapse-button.displayed .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (min-width: 574px) {
  .vertical-nav .collapse-button {
    display: none;
  }
}
.vertical-nav .navbar-body {
  display: none;
}
.vertical-nav .navbar-body.displayed {
  display: block;
}
@media (min-width: 574px) {
  .vertical-nav .navbar-body {
    display: block;
  }
}
@media (min-width: 574px) {
  .vertical-nav {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  .vertical-nav {
    margin-right: 10px;
  }
}
