$colors: (  primary: #f8f9fa, 
            secondary: #8E8D8A, 
            tertiary: #E85A4f, 
            quaternary: #D8C3A5) !default;

$paragraph: (   _: 0.25rem, 
                sm: 0.5rem, 
                md: 0.75rem,
                lg: 1.50rem,
                xl: 2rem) !default;

$spaces: (  _: 1%, 
            sm: 1.5%,
            md: 3%, 
            lg: 4%, 
            xl: 5%) !default;

$subTitle: (  _: 0.25rem, // mobile
            sm: 0.5rem, 
            md: 0.75rem,
            lg: 1.50rem,
            xl: 2rem) !default;

$title: (   _: 3rem, // mobile
            sm: 2.5rem, 
            md: 1.5rem,
            lg: 0.75rem,
            xl: .5rem) !default;

$underTitle: (  _: 0.25rem, // mobile
                sm: 0.5rem, 
                md: 0.75rem,
                lg: 1.50rem,
                xl: 2rem) !default;