.new-releases {
    .sub-title{
        margin: 0.5rem !important;
    }
    
    .card {
        float: left;
        
        @media (min-width: 768px) { 
            width: 14rem; 
        }
    
        @media (min-width: 992px) { 
            width: 13rem; 
        }
    
        .card-title, .card-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
