<div class="new-releases">
    <h3 class="sub-title">
        New Releases
    </h3>

    <div class="cards-container">
        <div class="card m-2" *ngFor="let album of newReleases">
            <img src={{album?.images[0].url}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    title={{album?.artists[0].name}}>{{album?.artists[0].name}}
                </h5>
                <p class="card-text"
                    data-toggle="tooltip" 
                    data-placement="right" 
                    title={{album?.name}}>{{album?.name}}
                <p>
            </div>
        </div>
    </div>
</div>

Last played
<ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>
