@import '../../../../assets/_main';

.entity-container {
    height: 100vh;
    overflow: auto;
    padding-bottom: 20vh;

    @include breakpoints(null,576px) {
        padding: map-get($spaces, "md");
    }
}