@import './assets/main';

.container-fluid {
    max-width: 2000px;
    min-width: 375px;
}

// Texts
.title {
    color: white;
    font-size: map-get($title, "_");
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 13%;
    margin-top: -18%;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    &.smaller {
        margin-top: -28%;
    }

    @include breakpoints(null, 576px) {
        font-size: map-get($title, "md");
        margin-bottom: map-get($spaces, "_");
        margin-top: map-get($spaces, "_");

        &.s-mobile {
            display: none;
        }
    }
}

.sub-title {
    font-size: map-get($title, "sm");
    margin-bottom: 0rem;

    @include breakpoints(null, 576px) {
        font-size: map-get($title, "md");
    }
}

.under-title {
    font-size: map-get($underTitle,"_");
}

.paragraph {
    font-size: map-get($paragraph, "_");
}

// Buttons
.btn {
    font-weight: 700;
    letter-spacing: 2px;

    &.tertiary {
        color: map-get($colors, "tertiary");
        border-color:  map-get($colors, "tertiary");
    }
    
    &.tertiary.bg-colored {
        background-color: map-get($colors, "tertiary");
        color: white;
    }
}