@import './assets/main';

// Texts
.title {
    color: white;
    font-size: map-get($title, "_");
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    @include breakpoints(null, 540px) {
        &.s-mobile {
            display: none;
        }
    }
}

.sub-title {
    font-size: map-get($title, "sm");
    margin-bottom: 0rem;
}

.under-title {
    font-size: map-get($underTitle,"_");
}

.paragraph {
    font-size: map-get($paragraph, "_");
}

// Buttons
.btn {
    font-weight: 700;
    letter-spacing: 2px;

    &.tertiary {
        color: map-get($colors, "tertiary");
        border-color:  map-get($colors, "tertiary");
    }
    
    &.tertiary.bg-colored {
        background-color: map-get($colors, "tertiary");
        color: white;
    }
}