.carousel {
    margin-left: 0.5rem;
}

.card {
    float: left;
    width: 18.55rem!important;
    .card-title, .card-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (min-width: 768px) { 
        width: 14rem!important; 
    }

    @media (min-width: 992px) { 
        width: 13rem!important; 
    }

    @media (min-width: 1200px) {
        width: 13.3rem!important; 
    }

    @media (min-width: 2559px) {
        width: 20.67rem !important;
    }
}