.container-fluid {
    height:100vh;
    background-color: black;
}

.init {
    height: 100%;
    align-items: center;
    text-align: center;
}

.greetings {
    color: white;
}

.login-btn {
    margin-top: 3vh;
    width: 15vw;
}